body {
    font-family: Arial, Helvetica, sans-serif;
    color: $font-color;
}
h1 {
    line-height: 50px;
    font-size: 24px;
    margin-left: 0px;
    float: left;
    font-weight: bold;
}
h2 {
    font-size: 38px;
    text-transform: uppercase;
    position: relative;
    line-height: 48px;
    margin-bottom: 20px;
}
h2::after, h3::after {
    width: 100%;
    height: 2px;
    background-color: $font-color;
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
}
h3 {
    font-size: 28px;
    text-transform: uppercase;
    position: relative;
    line-height: 38px;
    margin-bottom: 20px;
}
section p {
    font-size: 18px;
    line-height: 22px;
}

@media screen and (min-width: 768px) {
    h1 {
        line-height: 50px;
        font-size: 40px;
        margin-left: 70px;
        float: left;
    }   
}
@media screen and (min-width: 992px) {
    h1 {
        line-height: 50px;
        font-size: 40px;
        margin-left: 70px;
        float: left;
    }   
}