
footer {
    .outer-wrapper {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 0px;
    }
    input[type=text] {
        width: 90%;
        height: 36px;
        font-size: 24px;
        padding: 0% 5%;
    }
    .radio-heading {
        margin-top: 14px; 
        margin-bottom: 4px;
    }
    .radio {
        label {
            width: 33.3%;
            height: 20px;
            font-size: 18px;
            float: left;
        }
    }
    .description {
        margin-top: 6px;
        position: relative;
        float: left;
        font-style: italic;
        font-size: 15px;
        width: 100%;
    }
}
@media screen and (min-width: 768px) {
    footer input[type=text] {
        width: 60%;
        height: 36px;
        font-size: 24px;
        padding: 0% 5%;
        margin-right: 30%;
    }
}
@media screen and (min-width: 992px) {
    footer {
        .inner-wrapper {
            width: 60%;
            margin-right: 40%;
        }
        .radio label {
            width: 20%;
        }
        h3 {
            width: 70%;
        }

    } 
    
}


